.feed-img{
	background: url('../loading-img.gif');
	min-height: 64px;
	min-width: 64px;
	max-width: 240px;
}
body {padding-top: 70px;}
.search-filed{
	padding-top: 8px;
	padding-right: 10px;
}

.tag-button {
	padding:4px;
	margin: 1px;
}

.post-tag-button {
	padding:2px;
	margin-top: 1px;
}