<!-- app/templates/application.hbs -->
<div class="container">
	<h2 id="title">Flickr feed;</h2>
	<ul class="lists-group">
		{{#each photo in photos}}
			<li class="list-group-item">
				{{photo.title}} ({{photo.username}})<br>
				<img class="feed-img" src={{photo.url}} />
			</li>
		{{/each}}
	</ul>
</div>