<!-- app/templates/application.hbs -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">My App</a>
		</div>
		<div class="navbar-right search-field">
			{{#bs-form formLayout="inline" action="search"}}
				{{bs-input type="text" value=searchField placeholder="search something"}}
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			{{/bs-form}}
		</div>
	</div>
</nav>
<div class="container">
	<ul class="list-group">
	  {{#each photo in filteredPhotos}}
		<li class="list-group-item">
			{{photo.title}} ({{photo.username}})<br>
			<img class="feed-img" src={{photo.url}} />
		</li>
	  {{/each}}
	</ul>
</div>